*{
    font-family: Poppins;
}

body{
    background-color: black;
    background-image: url(img/body-bg-blur-10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

:root {
    --Black: #181823;
    --Primer: #402E7A;
    --Light: rgb(76, 59, 207);
    --Lighter: #4B70F5;
    --White: #E9F8F9;
    --gray: #9AA6B2;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

* h1{
    font-size: 2.8rem;
    font-weight: bolder;
    color: var(--Light);
}

* h2{
    font-size: 1.7rem;
    color: var(--White);
}



/* navbar start */

.mynavbar{
    color: var(--White) !important;
    backdrop-filter: blur(4px);
    position: fixed;
    z-index: 999;
}

.navbar-brand{
    color: var(--Light) !important;
}

.mynavbar .offcanvas{
    height: 100vh;
    width: 50%;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-tiitle{
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .navbar-toggler{
    color: var(--Light);
    font-size: 2rem;
}

.mynavbar .btn-close{
    color: var(--Light);
    font-size: 1.5rem;
}

.offcanvas-title{
    color: var(--Light) !important;
    padding-top: 15px;
}

.mynavbar .nav-link{
    text-transform: uppercase;
    color: var(--White) !important;
}

.navbar-nav{
    /* filter: opacity(); */
}

/* navbar end */


/* Home start */

.hero{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: var(--White);
    z-index: -1;
}

.beranda{
    flex-direction: column;
}

.beranda h1{
    margin-bottom: 10px;
}

.beranda p{
    margin-top: 10px;
    color: var(--gray);
}

/* Home end */


/* keterampilan start */

.keterampilan{
    flex-direction: column;
    margin-bottom: 100px;
}

.keterampilan h1{
    padding-top: 125px;
    margin-bottom: 10px;
}

.keterampilan h2{
    margin-bottom: 100px;
    color: var(--gray);
}

.kartu{
    margin: 10px;
}

.card-keterampilan{
    background-color: var(--Black);
    padding-top: 25px;
    padding-bottom: 25px;
}

.card-title{
    font-size: 5rem;
}

.card-title-bootstrap{
    color: #6d10d4;
}

.card-title-php{
    color: #7377ac;
}

.card-title-html{
    color: #df4e26;
}

.card-title-css{
    color: #176ba7;
}

.card-subtitle{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--White) !important;
}

.card-text{
    color: var(--gray);
}

/* keterampilan end */


/* proyek start */

.proyek{
    margin-bottom: 200px;
    flex-direction: column;
}

.proyek h1{
    padding-top: 125px;
    margin-bottom: 100px;
}

.card-proyek{
    background-color: var(--Black);
    padding-top: 25px;
    padding-bottom: 10px;
}

.proyek .card-title a{
    padding-top: 125px;
    margin-bottom: 100px;
}

.proyek .kartu{
    border-radius: 25px;
    text-align: start;
}

.proyek .card-title{
    /* background-color: red; */
    text-align: left;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--Lighter);
    margin-bottom: 35px;
    text-decoration: none;
    transition: 1s;
}

.proyek .card-title:hover{
    font-size: 40px;
    transition: 1s;
}

.proyek .kartu .kartu-sub{
    font-size: 1rem;
}

.proyek .kartu .card-text{
    /* background-color: red; */
    text-decoration: none;
    color: var(--gray);
}


/* proyek end */


/* about start */

.tentang{
    margin-top: 200px;
    margin-bottom: 250px;
    flex-direction: column;
}

.tentang h1{
    padding-top: 125px;
}

.tentang img{
    border-radius: 100%;
    border: 5px solid var(--Black);
}

.tentang .bio{
    margin-top: 50px;
    text-align: center;
}

.tentang .bio .img-me{
    margin-top: 50px;
}

.tentang .bio .biodata{
    text-align: start;
    margin-top: 50px;
    background-color:  rgba(76, 59, 207, 0.6);
    border: 3px solid var(--Light);
    color: var(--gray);
    border-radius: 25px;
    padding: 20px;
}

.tentang .bio .biodata p{
    margin-top: 20px;
    font-size: 16px;
    /* color: var(--White); */
    line-height: 25px;
}

/* about end */


/* footer start */

footer a{
    font-size: 1.3rem;
}

footer{
    margin-bottom: 25px;
}

footer h2{
    color: var(--Lighter);
}
footer p{
    color: var(--White);
}

footer hr{
    color: var(--Lighter);
}

footer .copyright{
    color: var(--gray);
}

/* footer end */
